* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative;
  height: 50px; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5; }

.hamburger {
  display: none; }

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: white; }
  .menu_item {
    border-right: 2px dotted #040404;
    padding-right: 28px; }
    .menu_item:last-child {
      border-right: none; }

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader_official {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.502);
    text-align: left;
    font-weight: 400;
    margin-top: 6px;
    opacity: 0.5; }
  .subheader_call {
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin-top: 19px;
    text-align: right; }
  .subheader_phone {
    display: block;
    font-size: 22px;
    color: white;
    margin-top: 8px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px; }
  .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    width: 132px;
    border-radius: 4px;
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
    .subheader_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.promo {
  min-height: 800px;
  background: url("../icons/top.png") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  .promo_header {
    text-align: center;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 60px;
    margin: 0; }
  .promo_subheader {
    text-align: center;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    margin-top: 22px; }
  .promo_descr {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 23px; }
  .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: solid 3px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase; }
    .promo_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.advantages {
  padding: 71px 0 65px 0; }

.advant_black {
  padding: 5px 12px;
  background-color: black;
  width: 112px;
  height: 24px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 11px;
  color: white;
  text-transform: uppercase;
  text-align: center; }
  .advant_black_1 {
    background-color: #ffffff;
    color: #070716;
    margin-top: 55px; }
  .advant_black_2 {
    margin-top: 70px; }
  .advant_black_3 {
    background-color: #ffffff;
    color: #070716;
    margin-top: 47px; }

.advant_reasons {
  text-align: center;
  font-size: 38px;
  color: #222222;
  text-transform: uppercase;
  margin: 13px;
  font-weight: 700; }
  .advant_reasons_1 {
    color: #ffffff;
    margin-top: 75px; }
  .advant_reasons_2 {
    margin-top: 10px; }
  .advant_reasons_3 {
    color: #ffffff;
    margin-top: 65px; }

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  color: #222222;
  text-align: center;
  font-weight: 400; }
  .subtitle_1 {
    color: #ffffff; }

.advantages {
  padding: 71px 0 65px 0; }
  .advantages .advant_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; }
  .advantages .advant_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #1eacc7; }
  .advantages .advant_descr {
    width: 343px; }
  .advantages .advant_title {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px; }
  .advantages .advant_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }

.mobile {
  min-height: 846px;
  padding: 48px 0 79px 0;
  background: url("../icons/background.png") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../img/mob1.png") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/mob2.png") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/mob3.png") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/mob4.png") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/mob5.png") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/mob6.png") center center/cover no-repeat; }
    .mobile_item_subtitle {
      font-size: 24px;
      color: white;
      text-transform: uppercase;
      line-height: 1.292;
      text-align: center;
      font-weight: 400; }
    .mobile_item_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 32px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000000;
      width: 26px;
      height: 26px;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        transition: 0.3s; }
      .mobile_item_plus:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        transition: 0.3s; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: #ff5f5f; }

.auto {
  min-height: 890px;
  background: url("../icons/background.png") center center/cover no-repeat; }
  .auto_rect {
    height: 495px;
    background-color: #070716; }
  .auto_img {
    margin-top: 30px;
    text-align: center; }
  .auto_text {
    font-size: 17px;
    color: #222222;
    line-height: 1.412;
    text-align: center;
    margin-top: 220px; }
  .auto_text1 {
    display: none; }

.require {
  padding: 68px 0 84px 0;
  margin: 33px 0; }
  .require_nmb {
    margin-bottom: 0; }
  .require_title {
    font-size: 22px;
    color: #1ca8c3;
    font-weight: 400; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../img/blue_bird.svg.svg") center center/cover no-repeat; }
  .require_descr {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 25px;
    color: #1ca8c3; }
  .require .warning .require_title {
    color: #ff5f5f; }
  .require .warning .require_list li:before {
    background: url("../img/red_bird.svg.svg") center center/cover no-repeat; }

.map {
  height: 720px;
  background-image: url(../icons/map.png);
  margin-top: 80px; }

.map_footer {
  font-size: 15px;
  color: #1fbad6;
  text-transform: uppercase;
  line-height: 4.533;
  text-align: center;
  margin-top: 450px; }

.line {
  background-color: #1fbad6;
  height: 4px;
  width: 299px;
  margin: 0 auto;
  margin-top: 14px; }

footer {
  padding: 14px 23px 39px 23px; }

.footer {
  width: 1920px;
  height: 150px; }
  .footer_divider {
    width: 250px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto; }
  .footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px; }
  .footer_wrapper > div {
    width: 33%; }
    .footer_wrapper > div:nth-child(3) {
      display: flex;
      justify-content: flex-end; }
  .footer_social {
    width: 160px;
    display: flex;
    justify-content: space-between; }
    .footer_social_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px;
      width: 32px;
      height: 32px;
      background-color: #070716;
      border-radius: 100%; }
      .footer_social_item i {
        color: #fff; }
  .footer_links {
    width: 390px;
    margin: 0 auto; }
    .footer_links_main {
      display: flex;
      justify-content: space-between;
      padding: 0 10px; }
      .footer_links_main a {
        color: #070716;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 300; }
    .footer_links_sub {
      display: flex;
      justify-content: space-between;
      margin-top: 10px; }
      .footer_links_sub a {
        color: #999999;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300; }
    .footer_links_lang {
      display: block;
      margin: 0 auto;
      color: #1fbad6;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 19px;
      text-align: center; }

.xs-vizible {
  display: none; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo_header {
    font-size: 50px; }

  .advantages .advant_block {
    align-items: flex-start; }
  .advantages .advant_descr {
    width: 300px; }
  .advantages .advant_round {
    margin-right: 10px; }

  .mobile_item {
    width: 300px; } }
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px; }
  .menu_link {
    font-size: 10px; }

  .subheader_logo {
    width: 100%; }
  .subheader_official {
    font-size: 11px; }
  .subheader_phone {
    font-size: 18px; }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%; }

  .promo_header {
    font-size: 40px; }
  .promo_subheader {
    font-size: 30px; }

  .advantages .advant_block {
    flex-direction: column;
    align-items: center; }
  .advantages .advant_descr {
    margin-top: 20px;
    width: 300px; } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all; }
    .menu_active {
      left: 0; }
    .menu_item {
      padding-right: 0;
      border: none; }
    .menu_link {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-vizible {
    display: block; }

  .subheader_phone {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px; }

  .promo_header {
    line-height: 45px; } }
@media (max-width: 575px) {
  nav {
    height: 30px; }

  header {
    height: 30px; }

  .subheader {
    height: 60px;
    top: 30px; }
    .subheader img {
      width: 150px; }
    .subheader_official {
      display: none; }
    .subheader_logo {
      margin-top: 16px; }
    .subheader_phone {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 11px; }
    .subheader_btn {
      width: 110px;
      height: 22px;
      font-size: 10px;
      margin-top: 0px; }
    .subheader_call {
      margin-top: 0px; }

  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0; }
    .promo_descr {
      display: none; }
    .promo_header {
      font-size: 30px;
      padding: 0 24px;
      line-height: 34px; }
    .promo_subheader {
      font-size: 20px;
      margin-top: 33px;
      line-height: 30px; }
    .promo_btn {
      width: 110px;
      height: 22px;
      margin-top: 72px;
      font-size: 8px; }

  .menu {
    width: 85%; }

  .advantages {
    padding: 22px 0 36px 0; }
    .advantages_block {
      margin-top: 28px; }
    .advantages_round {
      margin-right: 0;
      width: 100px;
      height: 100px; }
    .advantages_descr {
      width: 100%;
      margin-top: 27px; }
    .advantages_subtitle {
      font-size: 16px; }

  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px; }

  .advant_reasons {
    font-size: 16px;
    margin: 6px 0 2px 0; }
    .advant_reasons_3 {
      margin-top: 30px; }
  .advant_reasons_1 {
    display: none; }
  .advant_black_1 {
    margin-top: 22px; }
  .advant_black_3 {
    margin-top: 22px; }

  .subtitle_1 {
    display: none; }

  .subtitle {
    margin: 2px;
    font-size: 14px;
    line-height: 1.5; }

  .mobile {
    padding: 40px 0 15px 0; }
    .mobile_item {
      margin: 0 10px 30px 0; }

  .auto {
    background: none;
    min-height: 400px; }
    .auto_img img {
      width: 290px;
      margin-top: 24px; }
    .auto_rect {
      height: 390px; }
    .auto_text {
      display: none; }
    .auto_text1 {
      display: block;
      font-size: 17px;
      color: #fff;
      line-height: 1.412;
      text-align: center;
      margin-top: 20px; }

  .require {
    margin: 0;
    padding: 11px 0; }

  .subtitle_footer {
    display: block; }

  .map {
    margin-top: 30px;
    height: 360px; }
    .map_footer {
      margin-top: 192px; }

  .footer_wrapper div {
    width: 290px; }
    .footer_wrapper div a {
      margin: 0 2px; }
  .footer_mobile {
    margin-top: 182px; }
  .footer_links {
    margin: 0 auto; }
    .footer_links_main {
      padding: 0;
      width: 280px;
      font-size: 14px; }
    .footer_links_lang {
      font-size: 11px;
      padding-top: 9px; }
    .footer_links_sub {
      flex-wrap: wrap;
      justify-content: center;
      font-size: 11px; }
      .footer_links_sub_1 {
        padding-right: 55px; }
      .footer_links_sub_2 {
        padding-left: 55px; }
      .footer_links_sub_3 {
        padding-right: 30px; }
      .footer_links_sub_4 {
        padding-right: 30px;
        padding-left: 30px; }
      .footer_links_sub_5 {
        padding-left: 30px; }
      .footer_links_sub a {
        margin: 0 30px; }
  .footer_social {
    margin-top: 125px;
    margin-left: 290px;
    justify-content: center;
    width: 190px; }
    .footer_social_min {
      width: 190px; }
    .footer_social_item_insert {
      width: 1px;
      height: 1px;
      color: #ffffff; }

  .subsocial {
    width: 60%; } }

/*# sourceMappingURL=style.css.map */
